@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  *,
  *::before,
  *::after {
    font-feature-settings: "ss01" 1;
  }
}

:root {
  --background: #fdfbf7;
  --surface: #ffffff;
  --primary: #e68f3b;
  /* Pastel Red */
  --primary-foreground: #ffffff;
  --accent: #ffd54f;
  /* Pastel Yellow */
  --accent-foreground: #2d3748;
  --text: #2d3748;
  /* Soft Black */
  --text-muted: #718096;
  --border: #e2e8f0;
  --border-subtle: #edf2f7;
}



body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}